
body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('VVIT.jpeg.jpg'); 
    background-size: 150%; 
    background-position: center; 
    background-repeat: no-repeat;
    animation: zoom-in 10s infinite alternate; 
}
@keyframes zoom-in {
    from {
        background-size: 150%; /* Start at 150% */
    }
    to {
        background-size: 100%; /* End at 100% */
    }
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-with-icon {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.input-with-icon i {
    margin-right: 10px;
    color: #777;
}

.input-with-icon input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}
.input-with-icon input::placeholder {
    color: #999;
}

.radio-group {
    margin-bottom: 20px;
    display: flex;
}

.radio-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}

.login-btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.login-btn:hover {
    background-color: #45a049;
}
